.name{
    display:flex;
    justify-content:center;
}

.about{
    width:500px;
    height:150px;
    border:1px solid black;
}
.intro{
    width:300px;
    height:100px;
    border: 1px solid black;
    display:inline-block;
}
.exp{
    width:300px;
    height:100px;
    border: 1px solid black;
}