body{
    width:700px;
    border:1px solid black;
    padding:3px;
    margin-left:435px;
}
 
h1{
    display:flex;
    justify-content:center;
}
h3{
    margin-bottom:1px;
}
a{
    text-decoration:none;
}
p{
    margin-bottom:1px;
} 